.hero-banner-container {
    width: 100%;
    margin: auto;
    height: 550px;
}
.slider-container {
    width: 100%;
    position: absolute;
    top: -60px;
    left: 0;
    z-index: -999;
    overflow: hidden;
}
.hero-img-wrapper img {
    width: 100% ;
    height:auto;
}

@media (max-width: 720px) {
    .hero-banner-container {
        height: 320px;
    }
    .hero-img-wrapper img {
        height: 500px;
    }
}